[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
environs = "*"
django-allauth = "*"
django-debug-toolbar = "*"
unidecode = "*"
transliterate = "*"
python-slugify = "*"
django-extensions = "*"
psycopg2-binary = "==2.9.7"
pillow = "*"
django-ckeditor = "*"

[dev-packages]

[requires]
python_version = "3.12"
