{% extends "_base.html" %}

{% block page_title %}{{book.name}}{% endblock page_title %}

{% block content %}
    <h1>Book Name: {{book.name}}</h1>
    <h3>Book Author: {{book.poet}}</h3>
    <p>
        {{book.description|safe}}
    </p>

    <h1>Sections:</h1>

    <ul>
        {% for section in sections %}
            <li>
                <a href="{{ section.get_absolute_url }}">{{section.title}}</a>
            </li>
            {% empty %}
            <p>No sections.</p>
        {% endfor %}
    </ul>
{% endblock content %}