{% extends "_base.html" %}

{% block page_title %}{{section.title}}{% endblock page_title %}

{% block content %}
    <h1>{{section.title}}</h1>
    <h3>{{section.body}}</h3>

    {% if user.is_authenticated %}
      {% if is_in_favorites %}
        <p>This section is already in your favorites.</p>
      {% else %}
          <form method="post" action="{% url 'qandeel:add_to_favorites' section.slug %}">
              {% csrf_token %}
              <button type="submit">Add to Favorites</button>
          </form>
      {% endif %}
    {% else %}
      <p><a href="{% url 'account_login' %}">Log in</a> to add this section to your favorites.</p>
    {% endif %}

    <form method="post" action="{% url 'qandeel:comment_create' slug=object.slug %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Comment</button>
    </form>

    <h2>Comments:</h2>
    <ul>
      {% for comment in comments %}
        <li>
            {{comment.user}} says: {{comment.text}}
        </li>
      {% empty %}
        <li>comments not found.</li>
      {% endfor %}
    </ul>
{% endblock content %}